<div class="container">
   <div class="card">
    <form action="" class="form">
        <div class="form-field">
            <label for="" class="form-label">name</label>
            <input class="form-control" type="text" required>
        </div>
        <div class="form-field">
            <label for="" class="form-label">age</label>
            <input class="form-control" type="number" required>
        </div>
        <div class="form-field">
            <label for="" class="form-label">phone number</label>
            <input class="form-control" type="number" required>
        </div>
        <div class="form-field">
            <label for="" class="form-label">Email</label>
            <input class="form-control" type="email" required>
        </div>
        <div class="form-field">
            <label for="" class="form-label">img</label>
            <input class="form-control" type="file" required>
        </div>
        <div>
            <button type="submit" class="btn btn-primary mb-3" >Confirm identity</button>
        </div>
    </form>
   </div>
</div>