<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>To-Do List</h1>
        </div>
        <div class="card-body p-3">
            <form action="" class="form p-2" >
                <div class="form-field">
                    <label for="" class="form-label">List Item</label>
                    <input class="form-control" type="text" placeholder="Enter Item" required>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary mt-3" >Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card p-3 mt-3">
        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th>SR.No</th>
                    <th>List Item</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>comming soon....</td>
                    <td>
                        <button type="button" class="btn btn-warning">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>